<h2><%= dino.name %></h2>
<img src="/assets/images/<%= dino.image %>" alt="Een dino">
<p><%= dino.description %></p>
<% if (dino.isHerbivore) { %>
  <p>Herbivore</p>
<% } else { %>
  <p>Carnivore</p>
<% } %>